$hexaSize : 100px;
$width : ($hexaSize/2) / 0.86;
$left-top-border: 1px solid #adad34;
$center-top-border: 1px solid #adad34;
$right-top-border: 1px solid #adad34;
$right-bottom-border: 1px solid #adad34;
$center-bottom-border: 1px solid #adad34;
$left-bottom-border: 1px solid #adad34;

// Hexagone mixin
@mixin hexagone2($size, $color, $enableBorder: false) {

	$width : ($size/2) / 0.86; //cos(30deg)
//    overflow: hidden;

	display: block;
	height: $size;
	width: $width;
	position: relative;
	background: $color;
    @if $enableBorder {
        border-top: $center-top-border;
        border-bottom: $center-bottom-border;
    }
    
	&:before {
        position: absolute;
        overflow: hidden;
		content: "";
		display: block;
		width: $width;
		height: $size;
		background: $color;
		-webkit-transform: rotateZ(-60deg);
		-moz-transform: rotateZ(-60deg);
		-moz-transform-style: preserve-3d;
        z-index: -1;
        @if $enableBorder {
            border-top: $left-top-border;
            border-bottom: $right-bottom-border;
        }
	}

	&:after {
        position: absolute;
		content: "";
		display: block;
		width: $width;
		height: $size;
		background: $color;
		-webkit-transform: rotateZ(60deg);
		-moz-transform: rotateZ(60deg);
		-moz-transform-style: preserve-3d;
		position: absolute;
		top: 0;
        z-index: -1;
        @if $enableBorder {
            border-top: $right-top-border;
            border-bottom: $left-bottom-border;
        }
	}

    &--bg {
        position: absolute;
        left: 0;
        top: 0;
        width: $width * 2;
        height: $hexaSize;
        margin-left: -( $width / 2 ) ;
        z-index: -300;
    }
}

@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		// Fixes Opera/contenteditable bug:
		// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

.column {
    width: $width;
	padding: 0;
	margin: 0;
    float: left;
	@include clearfix();
}

.column:nth-child(n+2) {
    margin-left: $width;
}

.column:nth-child(even) {
    padding-top: $hexaSize / 2;
}


.hexa {
    position: relative;
	float: left;
	margin-bottom: 10px;
	margin-left: $width/2;
	@include hexagone2($hexaSize, transparent);

	&:hover {
		.front {
			-webkit-transform: translateZ(-1px) rotateY(180deg);
			-moz-transform: translateZ(-1px) rotateY(180deg);
			z-index: 800;

            .front--bg {
                background-color: transparent;
            }

		}

		.back {
			-webkit-transform: translateZ(1px) rotateY(0deg);
			-moz-transform: translateZ(1px) rotateY(0deg);
			z-index: 900;

            .back--bg {
//                background-color: transparent;
            }
		}
	}

	.front {
		@include hexagone2($hexaSize, transparent, true);
		-webkit-transition: all 600ms;
		-moz-transition: all 600ms;
		transition: all 600ms;
		position: absolute;
		top: 0;

		-webkit-transform: translateZ(1px) rotateY(0deg);
		-moz-transform: translateZ(1px) rotateY(0deg);

		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;

		/*-webkit-backface-visibility: hidden;*/
		/*-moz-backface-visibility: hidden;*/

		z-index: 900;
	}

	.back {
		@include hexagone2($hexaSize, transparent, true);
		-webkit-transition: all 600ms;
		-moz-transition: all 600ms;
		transition: all 600ms;
		position: absolute;
		top: 0;

		-webkit-transform: translateZ(-1px) rotateY(-180deg);
		-moz-transform: translateZ(-1px) rotateY(-180deg);

		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;

		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;

		z-index: 800;

	}

}
