// default
// -------------------------
.nav-default {
	> li {
		float: left;

		// Links rendered as pills
		> a {
			border-radius: 4px;
			&:hover,
			&:focus {
				text-decoration: none;
				background-color: none;
			}
		}
		+ li {
			margin-left: 2px;
		}

	}
}

.nav-list {
	> li {
		> a {
			padding: 0;
			&:hover,
		  	&:focus  {
		    	outline: none;
		    	background-color: transparent;
		   	}
		}
	}
}